.home-facility-container,.home-service-container{
  margin: 20px 0;
  padding: 20px;
}
.services-link,.facilities-link{
    margin:20px 0;
    text-align: center !important;
}
.facilities-link a {
    
    text-decoration: none !important;
    
}
